<!DOCTYPE html>
<html lang="en">
<head>
    <title>PROJECT</title>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CSS -->	
    <style type="text/css">
    html, 
    body {
        margin-bottom: 50px;
        height: 100%;
    }

    body {
    background-color: #3393FF;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    
    }

    #btnABC {
        font-size: 56px;
        color:blue;
    }
 
    </style>
</head>
<body>
    <div class="row">
        <h4>PROJECT SUMMARY</h4>

        <p style="color:red";> 1) </p>
        <p style="color:rgba(255, 0, 200, 0.863)";> 2) </p>
        <p style="color:blue";> 3)  </p>
        <p style="color:blue";> 4) </p>        

    </div>
 
    <div class="container">
        <h1 style="text-align: center; color:red"> WHAT WILL YOU LEARN TODAY? </h1>
        <br> <br> <br>
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <form action="/level1ABC" method="POST" >
                        <button id="btnABC" type="submit" class="btn btn-primary btn-block" style="background-color:yellow;">ABC</button>
                    </form>
                </div>                    
            </div>
            <div class="col-sm-2" >
                <p></p>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <form action="/level1Numbers" method="POST" >
                        <button id="btnABC" type="submit" class="btn btn-primary btn-block" style="background-color:yellow;">1, 2, 3</button>
                    </form>
                </div>  
            </div>
        </div>
    </div>
      

<!-- <img src="../static/img/mayagabeira15.jpg" alt="surfing" width="1500" height="1000"> -->

   
</body>
</html>
